.App {
  text-align: center;
  margin: 0 auto;
  max-width: 320px;
  min-height: 320px;
  background: #F5F5F5;
  border-radius: 10px;
  color: #2B283A;
  padding: 35px;
}

.title {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.03em;
}

.instructions {
  margin-top: 10px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;

  color: #4A4E74;
}

.dice-wrapper {
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
}

.roll-btn {
  font-family: 'Karla', sans-serif;

  margin-top: 26px;
  padding: 10px 25px;
  background: #5035FF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.roll-btn:focus {
  outline: none;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.score {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}